// ----------------------------
// NODE: Full View Default
// ----------------------------
.node.view-mode-full {
  // Node Header
  header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed $theme-gray-lighter;
  }
  // Node Content
  .article-content {
    color: $primary-dark-text-color;
    font-size: 1.2rem;
  }
}

// -------------------------
// NODE & Page: Title
// -------------------------
.article-title,
.pane-page-title h1,
.pane-page-title h2,
.pane-page-title h3,
.pane-page-title h4,
.page-title {
  color: $theme-gray-dark;
  font-family: $theme-font-family-roboto-condensed;
  font-size: 2rem;
  font-weight: bold;
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 4rem;
    .post-layout-1 & {
      font-size: 3rem;
    }
    .page-taxonomy & {
      padding-bottom: 1rem;
      border-bottom: 1px dashed $theme-gray-lighter;
      font-size: 3rem;
    }
  }
}

// -------------------------
// NODE: Author
// -------------------------
.pane-content-author-social-buttons {
  @include media-breakpoint-up(lg) {
    border-bottom: 1px dashed $theme-gray-lighter;
    padding-bottom: 1rem;
  }
}

.author-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed $theme-gray-lighter;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  // Node Author
  .user-picture {
    margin-right: 5px;
    @include media-breakpoint-up(md) {
      margin-right: 15px;
    }
    img {
      width: 30px;
      height: auto;
      border-radius: 50%;
      @include media-breakpoint-up(md) {
        width: 50px;
      }
    }
  }
  .submitted {
    vertical-align: middle;
    color: $secondary-dark-text-color;
    font-size: .9rem;
    font-weight: 300;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      font-size: 1.1rem;
    }
    a {
      color: $theme-gray-dark;
    }
  }
}

// -------------------------
// NODE: Category
// -------------------------
.pane-entity-field.pane-node-field-mg-category {
  display: inline-block;
  font-size: 1.25rem;
  color: $theme-gray;
  .post-layout-2 & {
    color: #FFF;
    text-shadow: 0 1px 0 transparentize(#000, .5);
  }
  .category {
    position: relative;
    margin-left: 10px;
    padding-left: 15px;
  }
  .category-icon {
    background: $theme-gray-lighter;
    width: 10px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 4px;
    &:before,
    &:after {
      content: "";
      display: block;
      background: inherit;
      width: inherit;
      height: inherit;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
    }
    &:before {
      box-shadow: inset 0 0 20px 0 transparentize(#000, .7);
      left: -3px;
      top: -3px;
      z-index: 0;
    }
  }
  a {
    color: $theme-gray;
    text-decoration: none;
    &:hover {
      color: $theme-gray-dark;
    }
    .post-layout-2 & {
      color: #FFF;
    }
  }
}

// ------------------------------
// NODE: Post Teaser Image
// ------------------------------
.panel-pane.pane-node-field-mg-image {
  margin-bottom: 1.5rem;
  img {
    @extend .img-fluid;
  }
}

// ------------------------------
// NODE: Post Full Width Teaser Image
// ------------------------------
.full-width-teaser-image {
  background-size: cover;
  background-position: center center;
  height: 400px;
  @include media-breakpoint-up(sm) {
    height: 460px;
    @media screen and ( min-height: 800px ){
      height: 600px;
    }
  }
}

// ------------------------------
// NODE: Paragraph Text&HTML
//       - Post text
// ------------------------------
.post-layout-1,
.post-layout-3 {
  .paragraphs-item-mg-parag-text-html {
    font-size: 1.05rem;
    font-weight: 300;
    @include media-breakpoint-up(md) {
      font-size: 1.1rem;
      font-weight: 300;
      not(.lead) {
        line-height: 1.7rem;
      }
    }
  }
}

.post-layout-2 {
  .paragraphs-item-mg-parag-text-html {
    font-size: 1.2rem;
    font-weight: 300;
    @include media-breakpoint-up(md) {
      margin-right: 0;
      margin-right: 0;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .lead {
      font-size: 1.35rem;
      font-weight: bold;
      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }
}


// ------------------------------
// NODE: Paragraph Image
// ------------------------------
.paragraphs-item-mg-parag-image {
  margin: 0 auto 1rem;
  text-align: center;
  img {
    @extend .img-fluid;
  }
  figure {
    margin: 0;
    position: relative;
  }
  figcaption {
    padding: 10px 0 10px;
    color: $hint-dark-text-color;
    font-size: .9rem;
    text-align: center;
  }
}

@include media-breakpoint-up(md) {
  .image-left {
    float: left;
    margin-top: .5rem;
    margin-right: 1.5rem;
  }
  .image-right {
    float: right;
    margin-top: .5rem;
    margin-left: 1.5rem;
  }
}

// ------------------------------
// NODE: Paragraph Gallery
// ------------------------------
// -----------------------------
// Grid (PhotoSwipe) Galery
// -----------------------------
.mg-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  img {
    width: 100%;
    height: auto;
    transition: all 200ms ease-in-out;
    &:hover {
      box-shadow: 0 0 5px 0 transparentize(#000, .3);
    }
  }
  figure {
    width: 33%;
    margin: 0;
    padding: 1px;
    cursor: pointer;
    @include media-breakpoint-up(lg) {
      width: 20%;
      padding: 5px;
    }
  }
}

// -----------------------------
// Slider (Owl) Galery
// -----------------------------
.themag-owl-theme {
  margin: 1.5rem 0;
  position: relative;
  .owl-buttons {
    width: 100%;
    color: $theme-gray-lightest;
    text-align: center;
    text-shadow: 1px 1px 0 transparentize(#000, .3);
    .owl-next,
    .owl-prev {
      width: 50px;
      margin-top: -15px;
      opacity: .8;
      transition: opacity .2s ease-in-out;
      position: absolute;
      top: 50%;
      right: 0px;
      &.disabled {
        text-shadow: none;
        opacity: .2;
        cursor: default;
      }
      &:hover:not(.disabled) {
        opacity: 1;
      }
    }
    .owl-prev {
      left: 0px;
      right: auto;
    }
  }
  .owl-pagination {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    .owl-page {
      display: inline-block;
      margin: 0 5px;
    }
    .owl-page {
      background: #FFF;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: .5;
      transition: opacity .2s ease-in-out;
      &:hover,
      &.active {
        opacity: .9;
      }
    }
  }
}

.owl-item img {
  @extend .img-fluid;
}

// ------------------------------
// NODE: Paragraph Video
// ------------------------------
.paragraphs-item-mg-parag-video,
.paragraphs-item-mg-parag-embedded-video {
  margin: 1.5rem 0;
}

// Responsive embed video
.embedded-video {
  margin: 0 0 .8rem;
}

.embedded-video .player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Embed video description
.video-embed-description {
  margin-bottom: 1rem;
  color: $theme-gray-light;
  font-size: 1rem;
  text-align: center;
}

// ------------------------------
// ARTICLE: Social Buttons1
// ------------------------------
.pane-content-author-social-buttons {
  .grid-12-col-2 .row {
    align-items: center;
  }
  .author-wrapper {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed $theme-gray-lighter;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }
  }
}

// ------------------------------
// POST LAYOUTS
// ------------------------------

// ------------------------------
//  Paralax teaser image
// ------------------------------
.teaser-image-parallax {
    height: 400px;
    position: relative;
    &:before {
      content: "";
      display: block;
      background: transparentize(#000, .6);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    @include media-breakpoint-up(sm) {
      height: 460px;
      @media screen and ( min-height: 800px ){
        height: 600px;
      }
    }
    .content-wrapper {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 780px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
      text-align: center;
      position: relative;
      @include media-breakpoint-up(md) {
        max-width: 980px;
      }
    }
    .title {
      color: #FFF;
      font-size: 2.5rem;
      @include media-breakpoint-up(md) {
        font-size: 3.5rem;
      }
    }

    a {
      color: #FFF;
    }
    .submitted {
      color: transparentize(#FFF, .4);
    }
  }


// ------------------------------
// POST: Layout 1
// ------------------------------
body.node-type-mg-article.post-layout-1.panels-ipe {
  .layout-wrapper {
    padding-top: 2.5rem;
  }
  .pane-content-author-social-buttons {
    border-bottom: 1px dashed $theme-gray-lighter;
    padding-bottom: 1rem;
  }
}

// ------------------------------
// POST: Layout 2
// ------------------------------

// Layout 2 post with teaser image
body.node-type-mg-article.post-layout-2.include-teaser-image {
  .pane-page-title h1 {
    display: inline-block;
    background: $body-bg;
    box-shadow: 15px 0 0 $body-bg, -15px 0 0 $body-bg;
    padding: 10px 0 0;
  }
}

// ------------------------------
// POST: Layout 3
// ------------------------------
body.node-type-mg-article.post-layout-3 {
  .pane-content-author-social-buttons {
    padding-bottom: 1rem;
    border-bottom: 1px dashed $theme-gray-lighter;
  }
}

body.node-type-mg-article.post-layout-3.include-teaser-image {
  .pane-node-field-mg-image {
    margin: -3rem -30px 1.5rem;
    @include media-breakpoint-up(lg) {
      margin: 0rem 0px 1.5rem;
    }
  }
}
